*.iml
.gradle
/local.properties
/.ide/caches
/.ide/libraries
/.ide/modules.xml
/.ide/workspace.xml
/.ide/navEditor.xml
/.ide/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties